<html>
  <head>
    <title>Antipope Blog</title>
    <link rel="stylesheet" type="text/css" href="media/css/main.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <spand id="header_text">Antipope Blog</spand>
      </div>
      <div id="content">
        <div>
          <h2>Here is a first title</h2>
          <div>
            <p>This is some metadata</p>
            <p>It comes with this content</p>
          </div>
          <div>
            <p>
              Here is gobs and gobs of content, it could be written continuously,
              it will most likely go on and on for days.
            </p>
            <p>
              There would be paragraphs, and they would describe things.  The descriptions
              of these things could be long or short, but as long as they are there it would be ideal.
              For example, this will continue to go on for no reason because a decent lorem ipsum library
              would distract me from this, though I should be fitting it in to Jinja now instead of rambling
              heere for the sake of spacing.
            </p>
          </div>
        </div>
        <div>
          <h2>Here is a content title</h2>
          <div>
            <p>This is some metadata</p>
            <p>It comes with this content</p>
          </div>
          <div>
            <p>
              Here is gobs and gobs of content, it could be written continuously,
              it will most likely go on and on for days.
            </p>
            <p>
              There would be paragraphs, and they would describe things.  The descriptions
              of these things could be long or short, but as long as they are there it would be ideal.
              For example, this will continue to go on for no reason because a decent lorem ipsum library
              would distract me from this, though I should be fitting it in to Jinja now instead of rambling
              heere for the sake of spacing.
            </p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <span>Some sidebar text</span>
      </div>
      <div id="footer">
        <span>Here sits the footer</span>
      </div>
    </div>
  </body>
</html>